Node Red/flowsensor.json
[{"id":"2d60d192.ae622e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dfed33a8.73163","type":"rpi-dht22","z":"2d60d192.ae622e","name":"","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"2","x":400,"y":80,"wires":[["f2407404.0fe1a8","c6d13c6e.af514","97b695df.c6e4d8"]]},{"id":"f2407404.0fe1a8","type":"debug","z":"2d60d192.ae622e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":100,"wires":[]},{"id":"33219825.7dcb58","type":"inject","z":"2d60d192.ae622e","name":"","topic":"Tem & Hum","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":80,"wires":[["dfed33a8.73163"]]},{"id":"c6d13c6e.af514","type":"function","z":"2d60d192.ae622e","name":"temperature","func":"msg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["a386a4.876b796","7c7bb4bf.8d90ac","77acd7b.c992d28"]]},{"id":"97b695df.c6e4d8","type":"function","z":"2d60d192.ae622e","name":"humiture","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["f3f86f44.5144b","6271dd91.8c0094","ea6ac6d8.28a268"]]},{"id":"a386a4.876b796","type":"debug","z":"2d60d192.ae622e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":140,"wires":[]},{"id":"f3f86f44.5144b","type":"debug","z":"2d60d192.ae622e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":220,"wires":[]},{"id":"6271dd91.8c0094","type":"ui_gauge","z":"2d60d192.ae622e","name":"","group":"207d4eb9.c66a62","order":1,"width":0,"height":0,"gtype":"gage","title":"Humiture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":260,"wires":[]},{"id":"7c7bb4bf.8d90ac","type":"ui_gauge","z":"2d60d192.ae622e","name":"","group":"207d4eb9.c66a62","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":180,"wires":[]},{"id":"b0939569.9507b8","type":"debug","z":"2d60d192.ae622e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":340,"wires":[]},{"id":"4c3e1bd9.8b9ab4","type":"inject","z":"2d60d192.ae622e","name":"","topic":"Rain","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[["63ca8af2.3d9d34"]]},{"id":"57242f57.bc9b1","type":"exec","z":"2d60d192.ae622e","command":"python rain.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":660,"y":400,"wires":[["b0939569.9507b8","6d0c9ce1.eec3f4","2281a1a0.01376e"],[],[]]},{"id":"63ca8af2.3d9d34","type":"template","z":"2d60d192.ae622e","name":"","field":"payload","fieldType":"msg","format":"python","syntax":"plain","template":"\n\n#!/usr/bin/env python\n\nfrom time import sleep\nimport os\nimport RPi.GPIO as GPIO\n\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(23, GPIO.IN)\nstate = GPIO.input(23)\n\nif (state == 0):\n    print \"its raining detected\"\nelse:\n    print \"its not raining \"\n\n","output":"str","x":340,"y":400,"wires":[["7e6bf095.8c32c"]]},{"id":"7e6bf095.8c32c","type":"file","z":"2d60d192.ae622e","name":"","filename":"rain.py","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":400,"wires":[["57242f57.bc9b1"]]},{"id":"6d0c9ce1.eec3f4","type":"ui_text","z":"2d60d192.ae622e","group":"207d4eb9.c66a62","order":3,"width":0,"height":0,"name":"","label":"Rain","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":380,"wires":[]},{"id":"2c50a67f.43369a","type":"inject","z":"2d60d192.ae622e","name":"","topic":"Distance","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["8a267ba4.f98338"]]},{"id":"8a0feb97.1dd368","type":"debug","z":"2d60d192.ae622e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":460,"wires":[]},{"id":"d26868e8.9c83a8","type":"exec","z":"2d60d192.ae622e","command":"python Distance.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":710,"y":520,"wires":[["8a0feb97.1dd368","d15dfcb6.20a6e","792e39f.ec2e5c8"],[],[]]},{"id":"8a267ba4.f98338","type":"template","z":"2d60d192.ae622e","name":"","field":"payload","fieldType":"msg","format":"python","syntax":"plain","template":"import RPi.GPIO as GPIO\nimport time\nGPIO.setmode(GPIO.BCM)\n                                      \nTRIG = 22\nECHO = 24\n\n#print \"Distance Measurement In Progress\"\n\nGPIO.setup(TRIG,GPIO.OUT)\nGPIO.setup(ECHO,GPIO.IN)\n\nGPIO.output(TRIG,False)\n#print \"Waiting For Sensor To Settle\"\ntime.sleep(2)\n\nGPIO.output(TRIG, True)\ntime.sleep(0.00001)\nGPIO.output(TRIG, False)\n\nwhile GPIO.input(ECHO)==0:\n pulse_start = time.time()\n\nwhile GPIO.input(ECHO)==1:\n pulse_end = time.time()\n\npulse_duration = pulse_end - pulse_start\n\ndistance = pulse_duration * 17150\n\ndistance = round(distance, 2)\n\nprint \"Distance:\",distance,\"cm\"\n\nGPIO.cleanup()\n\n","output":"str","x":340,"y":520,"wires":[["182c0b4.987d2f5"]]},{"id":"182c0b4.987d2f5","type":"file","z":"2d60d192.ae622e","name":"","filename":"Distance.py","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":510,"y":520,"wires":[["d26868e8.9c83a8"]]},{"id":"d15dfcb6.20a6e","type":"ui_text","z":"2d60d192.ae622e","group":"207d4eb9.c66a62","order":4,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":500,"wires":[]},{"id":"4294c125.54963","type":"rpi-gpio in","z":"2d60d192.ae622e","name":"","pin":"5","intype":"tri","debounce":"25","read":false,"x":150,"y":800,"wires":[["8577febf.3c694","9883a216.fd294","7e7112b7.46135c"]]},{"id":"9883a216.fd294","type":"debug","z":"2d60d192.ae622e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":310,"y":760,"wires":[]},{"id":"8577febf.3c694","type":"ui_text","z":"2d60d192.ae622e","group":"207d4eb9.c66a62","order":5,"width":0,"height":0,"name":"","label":"Window","format":"{{msg.payload}} ","layout":"row-spread","x":300,"y":800,"wires":[]},{"id":"4cc05c17.89ed84","type":"rpi-gpio in","z":"2d60d192.ae622e","name":"","pin":"26","intype":"tri","debounce":"25","read":false,"x":510,"y":760,"wires":[["30a6f97e.43c496"]]},{"id":"30a6f97e.43c496","type":"switch","z":"2d60d192.ae622e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":760,"wires":[["44e03271.c8720c","35c87c99.219a34"]]},{"id":"44e03271.c8720c","type":"debug","z":"2d60d192.ae622e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":760,"wires":[]},{"id":"7dc8a413.9ee1ac","type":"ui_switch","z":"2d60d192.ae622e","name":"","label":"switch","tooltip":"","group":"207d4eb9.c66a62","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":980,"y":100,"wires":[["2c29d82a.d67ba8","3a2823c5.0faa6c"]]},{"id":"2c29d82a.d67ba8","type":"rpi-gpio out","z":"2d60d192.ae622e","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":1190,"y":120,"wires":[]},{"id":"3a2823c5.0faa6c","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"Lights","format":"json","qos":"","name":"","x":1150,"y":200,"wires":[]},{"id":"77acd7b.c992d28","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"temperature","format":"json","qos":"","name":"","x":650,"y":60,"wires":[]},{"id":"ea6ac6d8.28a268","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"humiture","format":"json","qos":"","name":"","x":400,"y":200,"wires":[]},{"id":"2281a1a0.01376e","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"rain","format":"json","qos":"","name":"","x":870,"y":420,"wires":[]},{"id":"792e39f.ec2e5c8","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"Distance","format":"json","qos":"","name":"","x":940,"y":540,"wires":[]},{"id":"7e7112b7.46135c","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"window","format":"json","qos":"","name":"","x":320,"y":840,"wires":[]},{"id":"35c87c99.219a34","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"flame","format":"json","qos":"","name":"","x":730,"y":820,"wires":[]},{"id":"ed0397c4.79a248","type":"ui_button","z":"2d60d192.ae622e","name":"","group":"207d4eb9.c66a62","order":8,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1040,"y":640,"wires":[["44d9f32.b62920c","8d529de8.46571"]]},{"id":"44d9f32.b62920c","type":"exec","z":"2d60d192.ae622e","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":1258,"y":640,"wires":[[],[],[]]},{"id":"859772da.2c85a","type":"ui_button","z":"2d60d192.ae622e","name":"","group":"207d4eb9.c66a62","order":7,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":1048.5,"y":684.25,"wires":[["4ce83f9b.183d3","325349f7.266ce6"]]},{"id":"4ce83f9b.183d3","type":"exec","z":"2d60d192.ae622e","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":1269.5,"y":702.25,"wires":[[],[],[]]},{"id":"325349f7.266ce6","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"Shutdown","format":"json","qos":"","name":"","x":1180,"y":760,"wires":[]},{"id":"8d529de8.46571","type":"wiotp out","z":"2d60d192.ae622e","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"Reboot","format":"json","qos":"","name":"","x":1200,"y":580,"wires":[]},{"id":"207d4eb9.c66a62","type":"ui_group","z":"","name":"Smart ","tab":"e58cbcc6.c656f","order":1,"disp":true,"width":"6","collapse":false},{"id":"48152e7c.78afb","type":"wiotp-credentials","z":"","name":"","org":"mn42bh","serverName":"","devType":"RaspberryPI","devId":"raspberrypi","keepalive":"","cleansession":false,"tls":"","usetls":false},{"id":"e58cbcc6.c656f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]