Node Red/system.json
[{"id":"9c94ef99.cacf8","type":"tab","label":"cpu","disabled":false,"info":""},{"id":"2b8042b8.44857e","type":"exec","z":"9c94ef99.cacf8","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":410,"y":340,"wires":[["9a87ee81.fbe38"],[],[]]},{"id":"f1ccf497.078158","type":"inject","z":"9c94ef99.cacf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":204.5,"y":348.25,"wires":[["2b8042b8.44857e","e0b51a9.f3d45e8","1f6996e2.481769"]]},{"id":"9a87ee81.fbe38","type":"function","z":"9c94ef99.cacf8","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":340,"wires":[["1442484.899e4b8","6b6ff696.b6a428"]]},{"id":"e0b51a9.f3d45e8","type":"exec","z":"9c94ef99.cacf8","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":410,"y":420,"wires":[["80993ac3.1b55f8"],[],[]]},{"id":"1f6996e2.481769","type":"exec","z":"9c94ef99.cacf8","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":410,"y":500,"wires":[["c87b9c93.85089"],[],[]]},{"id":"b76d1953.21e228","type":"exec","z":"9c94ef99.cacf8","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":410,"y":580,"wires":[["db1a5df8.a117a"],[],[]]},{"id":"db1a5df8.a117a","type":"function","z":"9c94ef99.cacf8","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["19c080a3.2a44df"]]},{"id":"a011ecf3.051fa","type":"inject","z":"9c94ef99.cacf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":210,"y":580,"wires":[["b76d1953.21e228"]]},{"id":"1442484.899e4b8","type":"wiotp out","z":"9c94ef99.cacf8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"Chart","format":"json","qos":"","name":"","x":770,"y":360,"wires":[]},{"id":"80993ac3.1b55f8","type":"wiotp out","z":"9c94ef99.cacf8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"processor","format":"json","qos":"","name":"","x":580,"y":420,"wires":[]},{"id":"c87b9c93.85089","type":"wiotp out","z":"9c94ef99.cacf8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"Memory","format":"json","qos":"","name":"","x":580,"y":480,"wires":[]},{"id":"19c080a3.2a44df","type":"wiotp out","z":"9c94ef99.cacf8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"Disk","format":"json","qos":"","name":"","x":750,"y":560,"wires":[]},{"id":"6b6ff696.b6a428","type":"wiotp out","z":"9c94ef99.cacf8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48152e7c.78afb","deviceType":"","deviceId":"","event":"CPU TEM","format":"json","qos":"","name":"","x":780,"y":300,"wires":[]},{"id":"48152e7c.78afb","type":"wiotp-credentials","z":"","name":"","org":"mn42bh","serverName":"","devType":"RaspberryPI","devId":"raspberrypi","keepalive":"","cleansession":false,"tls":"","usetls":false}]